<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fruit Show</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
  />
  </head>
  <body>
    <h1>Fruits show page</h1>
    <h1>Show Fruit</h1>
    <dt>Name</dt>
    <dd><%=fruit.name%></dd>
    <dt>Colour</dt>
    <dd><%=fruit.colour%></dd>
    <dt>Ready To Eat</dt>
    <dd><%= fruit.readyToEat ? "Yes" : "No" %></dd>
  </body>
</html>